<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Blog</title>
        <link rel="stylesheet" href="/stylesheets/style.css"  />
    </head>
    <body>
        <!-- header -->
        <header>
            <h1><%= title %></h1>
        </header>

        <!-- navbar -->
        <nav>
            <span><a href="/" title="Homepage">Home</a></span>
            <span><a href="/login" title="Login">Login</a></span>
            <span><a href="/reg" title="Regist">Regist</a></span>
        </nav>

        <!-- article -->
        <article>
